<template>
    <tr>
        <td bgcolor="#FFFFFF"
            style="border-radius:0px 0px 3px 3px;color:#777777;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:25px;padding:30px 50px 35px 50px">
            <span style="color:#222222;font-family:Helvetica,Arial,sans-serif;font-size:32px">Hello
                {{name}},</span><br><br><br>
            You are receiving this because you (or someone else) have
            requested the reset of the password for your account.
            <br />
            <br />
            Please reset your password by clicking the button below.
            <br />
            <br />
            <br />
            <a href="{{Url}}/account/reset-password/{{token}}" target="_blank" data-saferedirecturl=""
                style="border-radius:3px;background:#2196F3;color:#fff;font-size:32px;text-decoration:none;padding:10px 50px;margin:40px 0;">
                Reset
            </a>
            <br />
            <br />
            <br /><span style="color:#222222;font-family:Helvetica,Arial,sans-serif;font-size:18px">Or
                paste this link into your browser</span>
            <br />
            <br />
            <a style="text-decoration:none;color:#777777;font-family:Helvetica,Arial,sans-serif;font-size:16px">
                {{Url}}/account/reset-password/{{token}}
            </a>
            <br />
            <br />
        </td>
    </tr>
</template>